name: "CLA Assistant"
on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, closed, synchronize]

permissions:
  actions: write
  contents: write
  pull-requests: write
  statuses: write

jobs:
  CLAAssistant:
    runs-on: ubuntu-latest
    steps:
      - name: "CLA Assistant"
        if: (github.event.comment.body == 'recheck' || github.event.comment.body == 'I have read the CLA Document and I hereby sign the CLA') || github.event_name == 'pull_request_target'
        uses: contributor-assistant/github-action@v2.6.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        with:
          path-to-signatures: 'cla-signatures.json'
          path-to-document: 'https://github.com/${{ github.repository }}/blob/main/.github/CLA.md'
          branch: 'cla-signatures'
          allowlist: bot*,dependabot*,GlyphLang

          remote-organization-name: false
          remote-repository-name: false
          create-file-commit-message: 'chore: create CLA signature file'
          signed-commit-message: 'chore: $contributorName signed the CLA from $pullRequestNo'
          custom-notsigned-prcomment: 'Thank you for your contribution! Before we can merge this PR, you need to sign our [Contributor License Agreement](${{ github.server_url }}/${{ github.repository }}/blob/main/.github/CLA.md). Please comment "I have read the CLA Document and I hereby sign the CLA" to agree.'
          custom-pr-sign-comment: 'I have read the CLA Document and I hereby sign the CLA'
          custom-allsigned-prcomment: 'All contributors have signed the CLA. Thank you!'
          lock-pullrequest-aftermerge: false
          use-dco-flag: false
